/* Dx reponsivo a 800px */

.container {
  display: flex;
  max-width: 1140px;
  margin: auto;
  justify-content: space-around;
}

.containerTitles {
  margin-top: 150px;
}

.Title {
  font-weight: bold;
  font-size: 48px;
}

.AreaDownload {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.TitleDownload {
  font-weight: 400;
  font-size: 16px;
  margin-right: 10px;
}

.EffectDownload {
  width: 106px;
  height: 1px;
  background-color: #282828;
}

.areaScroll {
  display: flex;
  align-items: center;
  margin-top: 50px;
  cursor: pointer;
}

.ScrollIcon {
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  box-shadow: 1px 1px 1px black;
}

.CiruloScrollEffect {
  width: 15px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid black;
}

.Cube1 {
  position: absolute;
  top: 35%;
  left: 40%;
}

.Cube2 {
  position: absolute;
  top: 20%;
  left: 43%;
}

.Cube3 {
  position: absolute;
  top: 10%;
  left: 46%;
}

@media (max-width: 850px) {
  .AreaImage {
    display: none;
  }
}


@media (max-width: 950px) {
  .Cube1 {
    display: none;
  }
  
  .Cube2 {
    display: none;
  }
  
  .Cube3 {
    display: none;
  }
}

@media(max-width: 1820px){
  .Cube1 {
    position: absolute;
    top: 35%;
    left: 35%;
  }
  
  .Cube2 {
    position: absolute;
    top: 20%;
    left: 40%;
  }
  
  .Cube3 {
    position: absolute;
    top: 10%;
    left: 45%;
  }
}
