.header{
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
  }
  
  .nav{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav li{
    list-style: none outside none;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
  }
  
  .nav li:hover {
    color: #000
  }
  
  .Logo{
    font-weight: bold;
    font-size: 20px;
    color: #fff;
  }
